<main>
  <h1>Movies</h1>
  <%= link_to "New Movie", new_movie_path, class: "btn" %>
  <ul class="movies-list">
  <% @movies.each_with_index do |movie, i| %>
    <li class="movies-list-item"> 
      <%= movie["title"] %> - <%= movie["rating"] %> <%= link_to "Show", movie_path(i + 1) %> <%= link_to "Delete", movie_path(i + 1), {:method => "delete"}%>
    </li>
  <% end %>
  </main>
</ul>