<!DOCTYPE html>
<html>
  <head>
    <title>Imdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% stylesheet_link_tag 'application', "https://fonts.googleapis.com/css2?family=Rubik&display=swap" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
